.messages {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 500px;
    flex: 0.35;
    background-color: #FFFFFF;
    border-right: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar__header {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
    margin-top: 10px;
}

.sidebar__avatar {
    cursor: pointer;
}

.sidebar__header__search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 5px;
    background-color: #F5FBFF;
    border: 1px solid #f3f1f1;
    margin-left: 10px;
    height: 2rem;
}

.sidebar__header__search__icon {
    margin-left: -1rem;
    font-size: 20px !important;
}

.sidebar__header__search > input{
    border: none !important;
    background-color: transparent;
    outline-width: 0;
    margin-left: 5px;
}

.sidebar__chats {
    overflow: scroll;
}

.sidebar__chats::-webkit-scrollbar {
    display: none;
}

.sidebar__chats {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar__chat {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.sidebar__chat:hover {
    background-color: #F5FBFF;
}

.sidebar__chats__info { 
    margin-left: 10px;
    position: relative;
    width: 100%;
}

.sidebar__chats__info > small {
    position: absolute;
    top: 2px;
    right: 0;
}

.sidebar__chats__info > h5 {
    font-size: 16px;
    font-weight: 600;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 0.65;
    height: 500px;
}

.chat__header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.chat__messages {
    flex: 1;
    background-image: url('../../assets/images/chat-background.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
}

.chat__messages::-webkit-scrollbar {
    display: none;
}

.chat__messages {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat__header__title {
    font-size: 20px;
    font-weight: 300;
}

.chat__input {
    background-color: white;
}

.chat__header__title {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 5px;
}

.chat__message {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    justify-content: space-between;
    margin: 15px;
}

.chat__message > p {
    background-color: #dedede;
    font-size: medium;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    margin-right: auto;
    color: rgb(49, 49, 49);
}

.chat__message > small {
    color: #dedede;
    position: absolute;
    bottom: -10px;
    right: 0;
}

.messages_sender {
    margin-left: auto;
}

.messages_sender > p{
    background-color: #50B4FC;
    color: white;
}

.messages_sender > .message_photo{
    order: 1;
    margin: 6px;
}

.messages_sender > small{
    right: 7px;
}

.message_photo{
    order: 0;
}